/*universal selector*/
* {
    color: black;
}

/*element selector*/
button {
    background-color: #A8DADC;
    font-size: 30px;
}

body {
    background-color: #F1FAEE;
}

span {
    color: #457B9D;
}

/*select list*/
h1, h2 {
    color: #1D3557;
    background-color: darkslateblue;
}

/*id selector*/
#signup {
    background-color: #1D3557;
    color: #F1FAEE;
}

/*class selector*/
.tag {
    background-color: #E63946;
    color: #F1FAEE;
    font-size: 16px;
}

/*
*         descendant selector
* space means anchor tag which are inside post class
*/
.post a {
    color: #457B9D;
}

footer a {
    color: #E63946;
}

