h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
}

.block-to-inline {
    display: inline;
}

.inline-to-block {
    display: block;
}

.span-inside-p {
    /*inline element ignores width*/
    width: 500px;
    /*padding and margin do not take spaces*/
    padding: 10px;
    margin: 100px;
    /*
    * to solve this problem we use inline-block
    * Inline-block behave like an inline element
    * execpt width, height, margin and padding are respected
    */
}

div {
    width: 200px;
    height: 200px;
    background-color: cyan;
    /*
    * use display: inline;
    * then we can observe why we have to use
    * display: inline-block;
    */
}

/*
*   can hide element by using display: none;
*/